.some-page-wrapper {
  margin: 15px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.product-img-container {
  display: flex;
  width: 200px;
  height: 200px;
  background-origin: 1px solid black;
}

.product-img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}